$white: #fcfcfc;
$black: #000;
$color-primary: #252525;
$color-secondary: #d2dbc5;
$color-accent: #fc5e44;

$font-primary: 'Work Sans', 'sans-serif';

// ***** MEDIA BREAKPOINTS ***** //
$bp-largest: 75em; //1200px
$bp-large: 62.5em; //1000px
$bp-medium: 50em; //800px
$bp-small: 37.5em; //600px
$bp-xsmall: 25em; //400px

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  @media only screen and (max-width: $bp-medium) {
    font-size: 56.25%;
  }
  @media only screen and (max-width: $bp-small) {
    font-size: 50%;
  }
  @media only screen and (max-width: $bp-xsmall) {
    font-size: 43.75%;
  }
}
body {
  box-sizing: border-box;
  background-color: $white;
  font-family: $font-primary;
  color: $color-primary;
}

//********* NAVBAR *********//
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $color-primary;
  padding-bottom: 1rem;
  &--icon {
    padding: 1rem 0 0 2rem;
    font-size: 3rem;
    font-weight: 100;
    color: $white;
    position: relative;
    &:after {
      content: '';
      height: 1px;
      width: 3rem;
      background-color: $white;
      position: absolute;
      left: 14px;
      bottom: 0;
    }
  }
}

//********* CART SECTION *********//

.bg-overlay {
  visibility: hidden;
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba($color-primary, 0.8);
}
.visible-overlay {
  visibility: visible;
}

.heading-tertiary {
  font-weight: 300;
  text-transform: lowercase;
  font-size: 2.5rem;
  padding: 4rem 2rem;
}

.lnr-cart {
  font-size: 3rem;
  padding: 1.5rem 2rem 0 0;
  position: absolute;
  right: 0;
  color: $white;
}
.cart-quantity {
  position: absolute;
  top: 7px;
  right: 1rem;
  background-color: $color-accent;
  padding: 2px 4px;
  font-size: 1.3rem;
  font-weight: 400;
  border-radius: 10px;
}
.close-cart {
  font-size: 3rem;
  padding: 1.5rem 0 0 2rem;
  position: fixed;
  top: 0;
  right: 10px;
}

.cart {
  transition: all 0.2s ease;
  transform: translateX(100%);
  z-index: 20;
  position: fixed;
  top: 0;
  right: 0;
  width: 45%;
  height: 100vh;
  background-color: $white;
  overflow: scroll;
  &__item {
    &--top-row {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    &--bottom-row {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-bottom: 4rem;
    }
    &--img {
      width: 15rem;
      height: 15rem;
      box-shadow: 0 5px 5px rgba($color-primary, 0.4);
    }
    &--name {
      font-weight: 300;
      font-size: 1.7rem;
      text-transform: lowercase;
    }
    &--price {
      font-weight: 300;
      font-size: 1.7rem;
    }
    &--remove {
      cursor: pointer;
      font-weight: 300;
      font-size: 1.2rem;
    }
    &--icon {
      cursor: pointer;
      font-size: 1.2rem;
      padding: 0 10px;
    }
    &--quantity {
      font-weight: 300;
      font-size: 1.5rem;
    }
  }
  &__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &--clear-btn {
    cursor: pointer;
    padding: 1rem 2rem;
    font-family: $font-primary;
    text-transform: lowercase;
    margin: 4rem 0;
    font-size: 1.7rem;
    font-weight: 300;
    border: none;
    border-bottom: 1px solid $color-primary;
    color: $color-primary;
    background-color: $white;
    transition: 0.2s ease;
    outline: none;
    &:hover {
      background-color: $color-primary;
      color: $white;
    }
    &:active {
      outline: none;
    }
  }
}

.openCart {
  transform: translateX(0);
}

//********* HEADER SECTION *********//
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 10rem 5rem 8rem 5rem;

  &__text-box {
    display: flex;
    height: 80%;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }
  &__bottle-img {
    display: block;
    height: 36rem;
  }
}
.heading-primary {
  font-size: 15rem;
  font-weight: 100;
  text-transform: lowercase;
}
.heading-secondary {
  font-weight: 300;
  text-transform: lowercase;
  font-size: 2.5rem;
}

//********* SHOP SECTION *********//
.shop {
  padding: 1rem 0;
  &__flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
//********* ITEMS *********//
.item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  &__container {
    cursor: pointer;
    width: 30%;
    height: 100%;
    background-color: $color-primary;
    padding: 5rem;
    margin: 15px;
    @media only screen and (max-width: $bp-large) {
      padding: 2.5rem;
    }
    @media only screen and (max-width: $bp-medium) {
      padding: 1rem;
    }
    @media only screen and (max-width: $bp-small) {
      padding: 5px;
    }
  }
  &__img {
    max-width: 100%;
  }
  &__details {
    z-index: 10;
    position: absolute;
    transition: 0.2s ease;
    transform: translateY(101%);
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &--name {
      color: $white;
      font-size: 5rem;
      font-weight: 100;
      text-transform: lowercase;
    }
    &--price {
      color: $white;
      font-size: 3rem;
      font-weight: 100;
    }
    &--buyBtn {
      cursor: pointer;
      font-family: $font-primary;
      text-transform: lowercase;
      font-size: 1.5rem;
      font-weight: 300;
      margin-top: 3rem;
      padding: 1.3rem 1.8rem;
      outline: none;
      border: none;
      background-color: $color-secondary;
      color: $color-primary;
      &:hover {
        opacity: 1;
      }
    }
  }
}

.item__img {
  transition: 0.2s ease;
}
.item__container:hover .item__img {
  opacity: 0.2;
}
.item__container:hover .item__details {
  transform: translateX(0);
  opacity: 1;
}

//********* FOOTER TOP SECTION *********//
.footer {
  &__top-container {
    padding: 5rem;
    font-size: 1.7rem;
    font-weight: 300;
    text-transform: lowercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    font-weight: 100;
    font-size: 6rem;
    justify-content: center;
  }

  //********* FOOTER BOTTOM LINKS *********//
  &__bottom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $black;
  }
  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__nav-list {
    display: flex;
    list-style: none;
    padding-top: 2rem;
  }
  &__nav-link {
    text-decoration: none;
    text-transform: lowercase;
    font-size: 1.4rem;
    font-weight: 100;
    color: $white;
    margin-right: 10px;
    &:hover {
      color: rgba($white, 0.9);
      border-bottom: 1px solid $white;
    }
  }
  &__copyright {
    font-size: 1.2rem;
    font-weight: 100;
    text-align: center;
    padding: 4rem 0;
    color: $white;
  }
}

//********* SIGN UP FORM *********//

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__label {
    font-size: 1.2rem;
    margin-left: 2rem;
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }
}
.contact {
  &__input {
    padding: 5px;
    border: none;
    margin: 0.5rem;
    background-color: $white;
    font-family: $font-primary;
    font-size: 1.7rem;
    font-weight: 300;
    text-transform: lowercase;
    border-bottom: 1px solid $color-primary;
    transition: all 0.2s ease-out;
    &::placeholder {
      color: $color-primary;
    }
    &:focus {
      outline: none;
      color: $color-primary;
      &::placeholder {
        color: $color-primary;
      }
    }
  }
}
.btn {
  &--join {
    cursor: pointer;
    padding: 1rem 2rem;
    font-family: $font-primary;
    text-transform: lowercase;
    margin-right: 1rem;
    font-size: 1.7rem;
    font-weight: 300;
    border: none;
    border-bottom: 1px solid $color-primary;
    color: $color-primary;
    background-color: $white;
    transition: 0.2s ease;
  }
  &:hover {
    background-color: $color-primary;
    color: $white;
  }
  &:active {
    outline: none;
  }
}

//********* SOCIAL MEDIA LINKS *********//
.social {
  &__container {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    padding: 5rem;
    font-size: 1.7rem;
    font-weight: 300;
  }

  &__links {
    list-style: none;
  }
  &__link {
    line-height: 1.6;
    color: $color-primary;
    text-decoration: none;
    position: relative;
    transition: 0.2s ease;
    &:hover {
      color: rgba($color-primary, 0.9);
      border-bottom: 1px solid $color-primary;
    }
  }
}
